/* Registro de Grid's */
    /* Left Grid's' */
.gridA, .gridB, .gridC, .gridCadastro, .gridForm
{ display: inline; float: left; }

/* expecificar somente largura (width) */
.gridA{ width: 282px; }
.gridB{ width: 580px;}
.gridForm { width: 560px; }
.gridCadastro { width: 280px; }

[class*=mt10]{ margin-top: 10px; } [class*=mt15]{ margin-top: 15px; }
[class*=mt20]{ margin-top: 20px; } [class*=mt25]{ margin-top: 25px; }
[class*=mt30]{ margin-top: 30px; } [class*=mt35]{ margin-top: 35px; }
[class*=mt40]{ margin-top: 40px; } [class*=mt45]{ margin-top: 45px; }
[class*=mt50]{ margin-top: 50px; } [class*=mt55]{ margin-top: 55px; }
[class*=mt60]{ margin-top: 60px; } [class*=mt65]{ margin-top: 65px; }

[class*=mr10]{ margin-right: 10px; } [class*=mr15]{ margin-right: 15px; }
[class*=mr20]{ margin-right: 20px; } [class*=mr25]{ margin-right: 25px; }
[class*=mr30]{ margin-right: 30px; } [class*=mr35]{ margin-right: 35px; }
[class*=mr40]{ margin-right: 40px; } [class*=mr45]{ margin-right: 45px; }
[class*=mr50]{ margin-right: 50px; } [class*=mr55]{ margin-right: 55px; }
[class*=mr60]{ margin-right: 60px; } [class*=mr65]{ margin-right: 65px; }

[class*=mb10]{ margin-bottom: 10px; } [class*=mb15]{ margin-bottom: 15px; }
[class*=mb20]{ margin-bottom: 20px; } [class*=mb25]{ margin-bottom: 25px; }
[class*=mb30]{ margin-bottom: 30px; } [class*=mb35]{ margin-bottom: 35px; }
[class*=mb40]{ margin-bottom: 40px; } [class*=mb45]{ margin-bottom: 45px; }
[class*=mb50]{ margin-bottom: 50px; } [class*=mb55]{ margin-bottom: 55px; }
[class*=mb60]{ margin-bottom: 60px; } [class*=mb65]{ margin-bottom: 65px; }

[class*=ml10]{ margin-left: 10px; } [class*=ml15]{ margin-left: 15px; }
[class*=ml20]{ margin-left: 20px; } [class*=ml25]{ margin-left: 25px; }
[class*=ml30]{ margin-left: 30px; } [class*=ml35]{ margin-left: 35px; }
[class*=ml40]{ margin-left: 40px; } [class*=ml45]{ margin-left: 45px; }
[class*=ml50]{ margin-left: 50px; } [class*=ml55]{ margin-left: 55px; }
[class*=ml60]{ margin-left: 60px; } [class*=ml65]{ margin-left: 65px; }


